
.navbar{
  background-color: #12151a;
}
.collapse .navbar-nav .nav-item{
  color: $color;
}

@media (max-width: 499px;) {
body{
  background-color: red;
}
}

body {
  background-color: #3e4247;
}

.carousel .carousel-item{
  height: 600px;
}

.table{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
}

#interests{
  font-family: Helvetica;
  margin-top: 50px;
  color: $color;
}
